/****************************************** TAG style *************************************/
body {
  background-color: #f5f0e3;
  margin: 0;
  font-size: 100%;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style:solid;
  border-color: #5f6769;
  border-width: 2px;
  width: 30%;
}

h1 {
  color: #e4406f;
  margin: 40px auto 0 auto;
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color:#e4406f;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 10px auto 0 auto;
}

h3 {
  color:#900c3f;
}
h4{
  color:#e44985;
}

p {
  color: #480032;
  font-size: 1.2em;
  font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/****************************************** CLASS style *************************************/
.Header{
  text-align: center;
  position: relative;
  background-color: #f0decb;
}

.Profile {
position: relative;
margin: 70px  auto;
width: 70%;
text-align: center;

}
.aboutme{width: 35%;}
.prof-table{
display: flex;
margin: 100px auto 70px auto;
}

.desc {
  position: relative;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  color: #e4406f;
  font-weight: normal;
}

.top-cloud {
  position: relative;
width: 10%;
  left: 330px;
  top: 40px;
}
.bottom-cloud{
  width: 10%;
  position: relative;
  bottom: 400px;
  right: 50px;
}
.Education {
  background-color: #ffddcc;
  position: relative;
  margin: 120px auto;
  padding: 50px;
}
.rainbow{
  width: 35%;
  position: relative;
  margin: 0;
  right: 38%;
  bottom: 20px;
}

  .donate-btn {
  background: #360a6b;
  background-image: -webkit-linear-gradient(top, #360a6b, #6826b3);
  background-image: -moz-linear-gradient(top, #360a6b, #6826b3);
  background-image: -ms-linear-gradient(top, #360a6b, #6826b3);
  background-image: -o-linear-gradient(top, #360a6b, #6826b3);
  background-image: linear-gradient(to bottom, #360a6b, #6826b3);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #e7e7e7;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.donate-btn:hover {
  background: #d2b1e6;
  background-image: -webkit-linear-gradient(top, #d2b1e6, #9431e6);
  background-image: -moz-linear-gradient(top, #d2b1e6, #9431e6);
  background-image: -ms-linear-gradient(top, #d2b1e6, #9431e6);
  background-image: -o-linear-gradient(top, #d2b1e6, #9431e6);
  background-image: linear-gradient(to bottom, #d2b1e6, #9431e6);
  text-decoration: none;
}

.poster {
  position: relative;

left: 0;
}
.bar{
  list-style: none;
  color:#e7e7e7;
  position: fixed;
  right: 200px;

}
.bar-list{
  display: block;
    background-color: Black;
    width:100px;
    height:50px;
    text-align: center;
    font-size: 15px;
font-weight: 600;
}
.Skills{
width: 70%;
margin: 100px auto 300px auto;
}
.My-info{
  text-align: center;
  line-height: 2;
  margin: 80px auto;
border-spacing: 15px;}

.Bottom-Container{
  background-color: #f0decb;
  margin: 20px auto 0 auto;
padding: 10px;
}
.contact{
    margin: 20px auto 0 auto;
    border-spacing: 7px;
}
.credits{
  color: #5f6769;
  font-size: 13px;
  margin: 20px auto;
  text-align: center;
}
.credits:hover{
  color: black;
}
.contact-me{
  font-size: 13px;
  margin: 20px auto;
  text-align: center;
  width: 60%;
}
.fb, .twitt, .insta, .linked, .mail{text-decoration: none;}
.fb:hover{color: #f6f6f6;}
.twitt:hover{color: #f6f6f6;}
.mail:hover{color: #f6f6f6;}
.insta:hover{color: #f6f6f6;}
.linked:hover{color: #f6f6f6;}
/****************************************** ID style *************************************/
